 @model IEnumerable<odetofood.web.Models.Restaurant>

<div>
    There are @Model.Count() restaurants in the db.
</div>

<ul>
    @foreach (var restaurant in Model)
    {
        <li>@restaurant.Name</li>
    }
</ul>